name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# 3.10.0-alpha.1?
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]
        exclude:
          - os: windows-latest
            python-version: 2.7 # error: Microsoft Visual C++ 9.0 is required

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install test dependencies
      run: python -m pip install .[test]
    - name: run tests
      run: python run_tests.py || true
